<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>

<form action="{:U('index/login/')}" method="post" accept-charset="utf-8">
<input type="text" />
<input type="text" name="Verify" />
<input type="submit" name="">
</form>
<img src="{:U('verifyIm')}" width="180" height="50" onclick="this.src='{:U('verifyIm')}?'+Math.random()" alt="">

<p>{:U('a')}</p>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">



</script>
